@font-face {
  font-family: jost;
  src: url('../../../shared/lib/fonts/Heebo/Heebo-Bold.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: jost;
  src: url('../../../shared/lib/fonts/Heebo/Heebo-Bold.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: jost;
  src: url('../../../shared/lib/fonts/Heebo/Heebo-Bold.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}
